# Coding Guidelines
- My project's programming language is TypeScript
- This project is build with Node.js
- This project is a discord.js bot
- This project consumes data via GET requests from the Andamio API at https://app.andamio.com/api